# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\source\spring-boot-rabbitmq-delay-queue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
